@model SchoolC1.Models.Teacher


@{
    ViewBag.Title = "Show";
}



<div id="show-container">

    <nav id="nav">
        <a href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>
        <a href="/Teacher/Update/@Model.TeacherId">Update</a>
        <a href="/Teacher/List">Back To Teachers</a>

    </nav>




    <h1>Teacher: @Model.TeacherFname @Model.TeacherLname</h1>
    <h3>
        Salary: $
        @if (@Model.TeacherSalary != null)
        {
            @Model.TeacherSalary

        }
    </h3>
    <h3>Hire date: @Model.TeacherHireDate</h3>
    <h3>
        Employee Number:
        @if (@Model.TeacherEmployeeNumber != null)
        {
            @Model.TeacherEmployeeNumber

        }

    </h3>





</div>

